[user]
	name = Inge Jørgensen
	email = inge@elektronaut.no
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
{{- if eq .chezmoi.hostname "Unbank" }}
[github]
	user = elektronaut
        token = {{ pass "github-elektronaut" }}
{{- end }}
[push]
        default = simple
[pull]
        ff = only
[pretty]
        relnote = - %s %C(cyan)(%an)%C(reset)

[include]
        path = ~/.gitconfig.aliases

[includeIf "gitdir:~/Dev/anyone/"]
	path = ~/.gitconfig.anyone
[init]
	defaultBranch = main
