export GOPATH="$HOME/Dev/go"
export LC_CTYPE="en_US.UTF-8"

export RIPGREP_CONFIG_PATH=~/.rgconfig

{{- if eq .chezmoi.hostname "Nurula" }}
export GITHUB_TOKEN="{{ pass "github-token" }}"
export DO_SPACES_ID="{{ pass "do-spaces-id" }}"
export DO_SPACES_SECRET="{{ pass "do-spaces-secret" }}"
{{- end }}

export PATH=/opt/local/bin:/opt/local/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/X11/bin:/usr/bin/X11:/usr/games:/usr/X11R6/bin

{{- if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
export SHELL_SESSIONS_DISABLE=1
export SSL_CERT_FILE=/opt/homebrew/etc/ca-certificates/cert.pem
{{- end }}

if [[ -d ~/.rbenv ]] ; then
  export PATH="$HOME/.rbenv/bin:$HOME/.rbenv/shims:$PATH"
  eval "$(rbenv init -)"
elif [[ -d /usr/local/rbenv ]] ; then
  export PATH="/usr/local/rbenv/bin:/usr/local/rbenv/shims:$PATH"
  eval "$(rbenv init -)"
fi
