[user]
	name = Inge Jørgensen
	email = inge@elektronaut.no
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
        default = simple
[pull]
        ff = only
[pretty]
        relnote = - %s %C(cyan)(%an)%C(reset)

[include]
        path = ~/.gitconfig.aliases

[includeIf "gitdir:~/Dev/anyone/"]
	path = ~/.gitconfig.anyone
[includeIf "gitdir:~/Dev/make/"]
	path = ~/.gitconfig.make
[init]
	defaultBranch = main
{{- if has .chezmoi.hostname (list "Nurula" "Maru") }}
[github]
	user = elektronaut
{{- end }}
